body{
    background-color: antiquewhite;
}

.Rubrik {
  color: lightblue;
  text-align: center;
  font-size: 40px;
  border: auto;
  padding: 10px;
  margin: 20px;

}

.minirubrik{
    color: lightblue;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.bild{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
    border: 3px solid lightblue;;
    object-fit: cover;
}

hr{
    border: 2px solid lightblue;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
